<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"
>
  <h1 class="mb-3 h2">Save any kind of movies</h1>
  <p>
    Classic
  </p>
</div>


<div class="theatre">
</div>


<div class="container mt-3">
  <h2>Welcome to the Lists Index!</h2>
    <% @lists.each do |list| %>
      <li><%= link_to "#{list.id} #{list.name}", list %></li>
    <% end %>
</div>

<button type="button" class="btn btn-outline-primary text-white"><%= link_to "Create a movie list", new_list_path %></button>
